



<div class="container">
  <h2 class="py-5">Cocktails list</h2>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <%= render 'shared/cocktail_card', cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>

