<nav class="navbar py-3">
  <%= link_to cocktails_path, class: "navbar-brand"  do%>
    <p>Cocktail Master</p>
  <% end %>
  <!-- <a class="navbar-brand">Cocktails</a> -->
  <div class="d-flex">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <%= link_to "Add a cocktail", new_cocktail_path, class: 'btn btn-primary ml-2' %>
  </div>
</nav>


